@font-face {

    -fx-font-family: "Oswald SemiBold";

}

.root {

    -fx-background-color: #F5F5F5FF;
    -fx-border-radius: 10px;

}

.header {

    -fx-font-family: "Oswald SemiBold";
    -fx-font-size: 64px;
    -fx-text-fill: #121212;

}

.content {

    -fx-font-family: "Oswald SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #121212;

}

.progress-bar {
    -fx-pref-height: 20px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #1818ff, #00a2ff);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.progress-bar > .track {
    -fx-background-color: #c2c2c2;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #c2c2c2;
    -fx-border-width: 1px;
    -fx-background-insets: 0;
}

.rootActive {

    -fx-background-color: #282c34ff;
    -fx-background-radius: 10px;

}

.rootActive .header {

    -fx-font-family: "Oswald SemiBold";
    -fx-font-size: 64px;
    -fx-text-fill: #d5d5d5FF;

}

.rootActive .content {

    -fx-font-family: "Oswald SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: #d5d5d5FF;

}

.rootActive .progress-bar {
    -fx-pref-height: 20px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
}

.rootActive .progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #6BD8EB, #43C3DA);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.rootActive .progress-bar > .track {
    -fx-background-color: #545557;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #545557;
    -fx-border-width: 1px;
    -fx-background-insets: 0;
}